name: RVCK CI

on:
  workflow_call:

    secrets: 
      RSYNC_PASSPHRASE: 
        description: 'rsync上传内核所需密码'
        required: true
      LAVA_TOKEN:
        required: true

jobs:
  parse-request:
    uses: ./.github/workflows/parse-rvck.yml
#    secrets: inherit
  
  pre-check:
    needs: [parse-request]
    if: ${{ !cancelled() && needs.parse-request.outputs.REPO }}
    permissions:
      issues: write
      pull-requests: write
    uses: ./.github/workflows/update-status.yml
    secrets: 
      gh_token: ${{ secrets.github_token }}
    with:
      repo: ${{ github.repository }}
      event_name: ${{ github.event_name }}
      event_id: ${{ github.event_name == 'issue_comment' && github.event.comment.id || github.event.number || github.event.issue.number }}
      append_content: |
        
        ---

        **开始测试 log: [${{github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}](${{github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})**
        
        <details>

        <summary>参数解析结果</summary>

        |args|value|
        |:-:|:-:|
        | repository | ${{ github.repository }} |
        | head ref | ${{ needs.parse-request.outputs.FETCH_REF }} |
        | base ref | ${{ needs.parse-request.outputs.SRC_REF }} |
        |LAVA repo | ${{ needs.parse-request.outputs.testcase_repo }} |
        |LAVA Template | ${{ needs.parse-request.outputs.lava_template }} |
        |Testcase path | ${{ needs.parse-request.outputs.testcase_path }} |
        |need run job | ${{ needs.parse-request.outputs.NEED_RUN_JOB }} |

        </details>
        
        ---


  kunit-test:
    needs: [parse-request]
    uses: ./.github/workflows/kunit-test.yml
    if: ${{ needs.parse-request.outputs.REPO && contains(needs.parse-request.outputs.NEED_RUN_JOB, "kunit-test") }}
    with:
      kernel_src_repo: ${{ needs.parse-request.outputs.REPO }}
      fetch_ref: ${{ needs.parse-request.outputs.FETCH_REF }}
  
  kernel-build:
    needs: [parse-request]
    if: ${{ needs.parse-request.outputs.REPO && contains(needs.parse-request.outputs.NEED_RUN_JOB, "kernel-build") }}
    uses: ./.github/workflows/kernel-build.yml
    with:
      commit_url: ${{ needs.parse-request.outputs.COMMIT_URL }}
      upload_dir: ${{ github.repository }}/${{ github.event.comment.id && format('{0}_{1}', needs.parse-request.outputs.ISSUE_ID, github.event.comment.id) || needs.parse-request.outputs.ISSUE_ID }}
    secrets:
      rync_passphrase: ${{ secrets.RSYNC_PASSPHRASE }}

      
  lava-trigger:
    needs: [parse-request, kernel-build]
    uses: ./.github/workflows/lava-trigger.yml
    if: ${{ contains(needs.parse-request.outputs.NEED_RUN_JOB, "lava-trigger") }}
    secrets: 
      lava_token: ${{ secrets.LAVA_TOKEN }}
    with:
      testcase_repo: ${{ needs.parse-request.outputs.testcase_repo }}
      lava_template: ${{ needs.parse-request.outputs.lava_template }}
      testcase_path: ${{ needs.parse-request.outputs.testcase_path }}
      kernel_download_url: ${{ needs.kernel-build.outputs.kernel_download_url }}
      initramfs_download_url: ${{ needs.kernel-build.outputs.initramfs_download_url }}
      kernel_md5sum: ${{ needs.kernel_build.outputs.kernel_md5sum }}
      initramfs_md5sum: ${{ needs.kernel_build.outputs.initramfs_md5sum }}

  check-patch:
    needs: [parse-request]
    if: ${{ needs.parse-request.outputs.SRC_REF && contains(needs.parse-request.outputs.NEED_RUN_JOB, "check-patch") }}
    uses: ./.github/workflows/check-patch.yml
    secrets: inherit
    with:
      kernel_src_repo: ${{ needs.parse-request.outputs.REPO }}
      fetch_ref: ${{ needs.parse-request.outputs.FETCH_REF }}
      src_ref: ${{ needs.parse-request.outputs.SRC_REF }}
  
  collect-result:
    if: ${{ !cancelled() && needs.parse-request.outputs.REPO }}
    needs: [parse-request, pre-check, kunit-test, kernel-build, lava-trigger, check-patch]
    permissions:
      issues: write
      pull-requests: write
    uses: ./.github/workflows/update-status.yml
    secrets: 
      gh_token: ${{ secrets.github_token }}
    with:
      repo: ${{ github.repository }}
      event_name: ${{ needs.pre-check.outputs.event_name }}
      event_id: ${{ needs.pre-check.outputs.event_id }}
      append_content: |
        **测试完成**
        <details>
        
        <summary> 详细结果:</summary>
        
        # RVCK result

        | check | result |
        | :-: | :-: |
        |kunit-test| ${{ needs.kunit-test.result }} |
        |kernel-build| ${{ needs.kernel-build.result }} |
        |lava-trigger| ${{ needs.lava-trigger.result }} |
        |check-patch| ${{ needs.check-patch.result }} |
        
        ${{ needs.kunit-test.outputs.summary_content }}
        
        ${{ needs.kernel-build.outputs.summary_content }}

        ${{ needs.lava-trigger.outputs.summary_content }}
        
        ${{ needs.check-patch.outputs.summary_content }}

        </details>
    
